{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Todo App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>{% block header %}Todo App{% endblock %}</h1>
        <nav>
            <ul>
                <li><a href="{% url 'todo_list_list' %}">Todo Lists</a></li>
                <li><a href="{% url 'todo_item_search' %}">Search Todo Items</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
