{% extends "todos/base.html" %}

{% block title %}Create Todo Item{% endblock %}

{% block content %}
<div>
    <h1>Create a new item</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
</div>
{% endblock %}
