{% extends "todos/base.html" %}

{% block title %}Delete TodoList{% endblock %}

{% block content %}
<div>
    <h1>Are you sure?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
</div>
{% endblock %}
