{% extends "todos/base.html" %}

{% block title %}Todo List Details{% endblock %}

{% block content %}
<h1>{{ todo_list.name }}</h1>
<p>Created on: {{ todo_list.created_on|date:"M d, Y H:i" }}</p>
<p><a href="{% url 'todo_list_delete' id=todo_list.id %}">Delete</a></p>
<a href="{% url 'todo_list_update' id=todo_list.id %}">Edit</a>
<h2>Tasks</h2>
<table>
    <thead>
        <tr>
            <th>Task</th>
            <th>Due date</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.task }}</td>
            <td>{{ item.due_date|date:"M d, Y H:i" }}</td>
            <td>{{ item.is_completed|yesno:"Yes,No" }}</td>
            <td><a href="{% url 'todo_item_update' id=item.id %}">Edit</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No items found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
