{% extends "todos/base.html" %}

{% block title %}Update Todo Item{% endblock %}

{% block content %}
<div>
    <h1>Update item</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
    </form>
</div>
{% endblock %}
