{% extends "todos/base.html" %}

{% block title %}Edit TodoList{% endblock %}

{% block content %}
<div>
    <h1>Update list</h1>
    <form method="post">
        {% csrf_token %}
        <h3>Editing <a> {{ form.instance.name }}</a></h3>
        <input type="text" name="name" value="{{ form.instance.name }}" required>
        <button type="submit">Update</button>
    </form>
</div>
{% endblock %}
