{% extends "todos/base.html" %}

{% block title %}Create Todo List{% endblock %}

{% block content %}
<div>
    <h1>Create a new list</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" id="name" required>
        <button type="submit">Create</button>
    </form>
</div>
{% endblock %}
