{% extends "todos/base.html" %}

{% block title %}Search Todo Items{% endblock %}

{% block content %}
<div>
    <h1>Search Results</h1>
    <form method="get" action="{% url 'todo_item_search' %}">
        <input type="text" name="q" value="{{ query }}" placeholder="Search tasks">
        <button type="submit">Search</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Due date</th>
                <th>Todo List</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for item in results %}
            <tr>
                <td>{{ item.task }}</td>
                <td>{{ item.due_date|date:"M d, Y H:i" }}</td>
                <td>{{ item.list.name }}</td>
                <td><a href="{% url 'todo_item_update' id=item.id %}">Edit</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No tasks found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
