{% extends "todos/base.html" %}

{% block title %}Todo Lists{% endblock %}

{% block content %}
<div>
    <h1>My Lists</h1>
    <a href="{% url 'todo_list_create' %}">Create New List</a>
    <p><a href="{% url 'todo_item_create' %}">Create a new item</a></p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of items</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for list in lists %}
            <tr>
                <td><a href="{% url 'todo_list_detail' id=list.id %}">{{ list.name }}</a></td>
                <td>{{ list.items.count }}</td>
                <td><a href="{% url 'todo_list_update' list.id %}">Edit</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No todo lists found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
